<a href="https://colab.research.google.com/github/glaizalipato/student_success/blob/main/Capstone_Model_(updated_dataset_1).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Import Libraries

In [171]:
import pandas as pd
import numpy as np

# visualization libraries
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

## Get the Data

In [172]:
df = pd.read_csv('https://raw.githubusercontent.com/plthrs/FTW-CapstoneProject-TeamEagle/main/dataset_1_combined.csv?token=GHSAT0AAAAAAB6X46376EAWT24L3RKLZRVCY7TLMAA')

In [173]:
df.head()

,Unnamed: 0,Scholar_ID,Batch,Year_Graduated,Year_Disqualified,School,Course,Status,High_School,Average_Grade_in_HS,...,Are_Both_Parents_Employed,Is_Only_One_Parent_Employed,Income_Class,Is_Poor,percent_of_cutoff,Class_Poor,Class_Lower,Class_Lower_Middle,Class_Middle_Middle,Class_Upper_Middle
0,0,2007001.0,2007.0,2011.0,NaN,UPD Educ,Secondary/ Mathematics,Graduated,NaN,NaN,...,0,1,Lower,0,0.522242,0,1,0,0,0
1,1,2007002.0,2007.0,2011.0,NaN,UPD,Math,Graduated,Holy Redeemer School of Kalookan,NaN,...,0,1,Poor,1,0.120000,1,0,0,0,0
2,2,2007003.0,2007.0,2011.0,NaN,UPD,Math,Graduated,Aurora National Science High School,NaN,...,1,0,Lower,0,0.430000,0,1,0,0,0
3,3,2009004.0,2009.0,NaN,2011.0,UPD Educ,Secondary/ Art Education,Disqualified,UP Intergrated School,86.50,...,0,1,Lower_Middle,0,1.067593,0,0,1,0,0
4,4,2009005.0,2009.0,2014.0,NaN,UPD Educ,Secondary/ Biology,Graduated,Lourdes School of Mandaluyong,88.77,...,1,0,Middle_Middle,0,1.533333,0,0,0,1,0

In [174]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 230 entries, 0 to 229
Data columns (total 40 columns):
 #   Column                                         Non-Null Count  Dtype
---  ------                                         --------------  -----
 0   Unnamed: 0                                     230 non-null    int64
 1   Scholar_ID                                     230 non-null    float64
 2   Batch                                          230 non-null    float64
 3   Year_Graduated                                 92 non-null     float64
 4   Year_Disqualified                              53 non-null     float64
 5   School                                         230 non-null    object
 6   Course                                         230 non-null    object
 7   Status                                         230 non-null    object
 8   High_School                                    229 non-null    object
 9   Average_Grade_in_HS                            200 non-null    float64
 10  Annual_Family_Income                           230 non-null    float64
 11  Demographic_Location                           230 non-null    object
 12  Father_Occupation                              230 non-null    object
 13  Father_Annual_Salary                           54 non-null     object
 14  Mother_Occupation                              230 non-null    object
 15  Mother_Annual_Salary                           36 non-null     float64
 16  No_of_Siblings                                 230 non-null    float64
 17  Scholarship_Status                             230 non-null    object
 18  Is_UPD                                         230 non-null    int64
 19  Is_Education                                   230 non-null    int64
 20  HS_Avg_Grade_imputed_based_on_demographic_loc  230 non-null    float64
 21  HS_Avg_Grade_imputed_based_on_school_loc       230 non-null    float64
 22  HS_Sector                                      230 non-null    object
 23  HS_Private                                     230 non-null    int64
 24  HS_Public                                      230 non-null    int64
 25  HS_SUCs/LUCs                                   230 non-null    int64
 26  Urbanity_Level                                 230 non-null    object
 27  College_Within_Municipality/City               230 non-null    int64
 28  Is_F_employed                                  230 non-null    int64
 29  Is_M_employed                                  230 non-null    int64
 30  Are_Both_Parents_Employed                      230 non-null    int64
 31  Is_Only_One_Parent_Employed                    230 non-null    int64
 32  Income_Class                                   230 non-null    object
 33  Is_Poor                                        230 non-null    int64
 34  percent_of_cutoff                              230 non-null    float64
 35  Class_Poor                                     230 non-null    int64
 36  Class_Lower                                    230 non-null    int64
 37  Class_Lower_Middle                             230 non-null    int64
 38  Class_Middle_Middle                            230 non-null    int64
 39  Class_Upper_Middle                             230 non-null    int64
dtypes: float64(11), int64(17), object(12)
memory usage: 72.0+ KB

In [175]:
df.shape

(230, 40)

In [176]:
df.columns

Index(['Unnamed: 0', 'Scholar_ID', 'Batch', 'Year_Graduated',
       'Year_Disqualified', 'School', 'Course', 'Status', 'High_School',
       'Average_Grade_in_HS', 'Annual_Family_Income', 'Demographic_Location',
       'Father_Occupation', 'Father_Annual_Salary', 'Mother_Occupation',
       'Mother_Annual_Salary', 'No_of_Siblings', 'Scholarship_Status',
       'Is_UPD', 'Is_Education',
       'HS_Avg_Grade_imputed_based_on_demographic_loc',
       'HS_Avg_Grade_imputed_based_on_school_loc', 'HS_Sector', 'HS_Private',
       'HS_Public', 'HS_SUCs/LUCs', 'Urbanity_Level',
       'College_Within_Municipality/City', 'Is_F_employed', 'Is_M_employed',
       'Are_Both_Parents_Employed', 'Is_Only_One_Parent_Employed',
       'Income_Class', 'Is_Poor', 'percent_of_cutoff', 'Class_Poor',
       'Class_Lower', 'Class_Lower_Middle', 'Class_Middle_Middle',
       'Class_Upper_Middle'],
      dtype='object')

In [177]:
df.isna().sum()

Unnamed: 0                                         0
Scholar_ID                                         0
Batch                                              0
Year_Graduated                                   138
Year_Disqualified                                177
School                                             0
Course                                             0
Status                                             0
High_School                                        1
Average_Grade_in_HS                               30
Annual_Family_Income                               0
Demographic_Location                               0
Father_Occupation                                  0
Father_Annual_Salary                             176
Mother_Occupation                                  0
Mother_Annual_Salary                             194
No_of_Siblings                                     0
Scholarship_Status                                 0
Is_UPD                                             0
Is_Education                                       0
HS_Avg_Grade_imputed_based_on_demographic_loc      0
HS_Avg_Grade_imputed_based_on_school_loc           0
HS_Sector                                          0
HS_Private                                         0
HS_Public                                          0
HS_SUCs/LUCs                                       0
Urbanity_Level                                     0
College_Within_Municipality/City                   0
Is_F_employed                                      0
Is_M_employed                                      0
Are_Both_Parents_Employed                          0
Is_Only_One_Parent_Employed                        0
Income_Class                                       0
Is_Poor                                            0
percent_of_cutoff                                  0
Class_Poor                                         0
Class_Lower                                        0
Class_Lower_Middle                                 0
Class_Middle_Middle                                0
Class_Upper_Middle                                 0
dtype: int64

In [178]:
df.corr()

,Unnamed: 0,Scholar_ID,Batch,Year_Graduated,Year_Disqualified,Average_Grade_in_HS,Annual_Family_Income,Mother_Annual_Salary,No_of_Siblings,Is_UPD,...,Is_M_employed,Are_Both_Parents_Employed,Is_Only_One_Parent_Employed,Is_Poor,percent_of_cutoff,Class_Poor,Class_Lower,Class_Lower_Middle,Class_Middle_Middle,Class_Upper_Middle
Unnamed: 0,1.000000,0.972542,0.971531,0.949592,0.861021,0.449199,-0.440186,0.182125,0.131756,-0.298278,...,0.037021,0.023274,-0.016370,0.440136,-0.541899,0.440136,-0.289533,-0.186924,-0.168853,-0.105998
Scholar_ID,0.972542,1.000000,0.999991,0.982241,0.892190,0.403079,-0.489123,0.044984,0.155895,-0.403211,...,0.017884,0.008121,-0.018015,0.510147,-0.591456,0.510147,-0.323865,-0.232554,-0.179261,-0.136417
Batch,0.971531,0.999991,1.000000,0.982332,0.892361,0.402006,-0.489776,0.042533,0.156261,-0.404945,...,0.017520,0.007836,-0.018036,0.511179,-0.592067,0.511179,-0.324332,-0.233278,-0.179361,-0.136909
Year_Graduated,0.949592,0.982241,0.982332,1.000000,NaN,0.079092,-0.421612,-0.376739,0.191577,-0.543002,...,-0.150201,-0.038570,-0.137214,0.544498,-0.501598,0.544498,-0.253348,-0.293157,-0.155655,-0.198508
Year_Disqualified,0.861021,0.892190,0.892361,NaN,1.000000,0.422928,-0.450525,-0.659138,0.041489,-0.369130,...,0.082791,0.077748,-0.023331,0.562621,-0.570801,0.562621,-0.385492,-0.241348,NaN,NaN
Average_Grade_in_HS,0.449199,0.403079,0.402006,0.079092,0.422928,1.000000,-0.058432,0.208026,-0.111382,0.225566,...,0.054164,-0.032513,0.070545,0.045033,-0.160215,0.045033,-0.035475,-0.009618,-0.014385,-0.045779
Annual_Family_Income,-0.440186,-0.489123,-0.489776,-0.421612,-0.450525,-0.058432,1.000000,0.875996,-0.181450,0.502454,...,0.100623,0.051610,0.069649,-0.765859,0.934405,-0.765859,0.121163,0.550683,0.565886,0.373798
Mother_Annual_Salary,0.182125,0.044984,0.042533,-0.376739,-0.659138,0.208026,0.875996,1.000000,-0.297138,0.488660,...,0.116408,-0.159116,0.159116,-0.729810,0.730742,-0.729810,0.171898,0.793550,NaN,NaN
No_of_Siblings,0.131756,0.155895,0.156261,0.191577,0.041489,-0.111382,-0.181450,-0.297138,1.000000,-0.334931,...,-0.014923,-0.073777,0.106903,0.186541,-0.112344,0.186541,-0.071645,-0.156750,0.000304,-0.056299
Is_UPD,-0.298278,-0.403211,-0.404945,-0.543002,-0.369130,0.225566,0.502454,0.488660,-0.334931,1.000000,...,-0.000854,-0.012445,0.003181,-0.577079,0.349494,-0.577079,0.305375,0.370038,0.130028,0.052501
Is_Education,-0.141501,-0.066423,-0.064999,0.075780,0.015308,-0.203548,0.011307,-0.438812,0.158083,-0.325169,...,0.047806,0.056709,-0.023203,0.042574,0.092784,0.042574,-0.018295,-0.068615,0.066985,0.027046
HS_Avg_Grade_imputed_based_on_demographic_loc,0.396555,0.335049,0.333737,-0.003945,0.359742,1.000000,-0.045329,0.238569,-0.114744,0.236014,...,0.057100,-0.025413,0.073544,0.022533,-0.139646,0.022533,-0.006506,-0.009340,-0.011920,-0.045773
HS_Avg_Grade_imputed_based_on_school_loc,0.383563,0.320392,0.319057,-0.029129,0.294563,1.000000,-0.053121,0.243452,-0.113705,0.217564,...,0.041584,-0.047031,0.086076,0.034826,-0.136982,0.034826,-0.017005,-0.014573,-0.012744,-0.044476
HS_Private,-0.094803,-0.113581,-0.113870,-0.075168,0.042029,0.193496,0.138825,0.099188,-0.225961,0.268066,...,-0.092744,-0.085460,0.012975,-0.069854,0.113906,-0.069854,-0.009378,0.037122,0.164867,-0.048723
HS_Public,0.138136,0.158788,0.159088,0.128997,0.037912,-0.118624,-0.162017,-0.043077,0.199677,-0.277723,...,0.105292,0.098214,-0.011090,0.091404,-0.152596,0.091404,0.000833,-0.064543,-0.146490,0.053468
HS_SUCs/LUCs,-0.109178,-0.114714,-0.114757,-0.110717,-0.271873,-0.162804,0.063332,-0.111044,0.050455,0.038064,...,-0.035246,-0.035335,-0.003799,-0.055559,0.099106,-0.055559,0.019968,0.067815,-0.034893,-0.014089
College_Within_Municipality/City,-0.092739,-0.064664,-0.064110,0.035041,0.112506,-0.057616,-0.070999,-0.238916,-0.052350,-0.114222,...,0.060283,0.047438,-0.129332,0.096986,-0.028763,0.096986,-0.069625,-0.035031,-0.032226,-0.038374
Is_F_employed,-0.012223,-0.022368,-0.022544,-0.065428,0.029411,-0.045279,0.063449,-0.198358,-0.013170,-0.019457,...,-0.219098,0.427245,-0.044618,-0.135017,0.098774,-0.135017,0.134643,0.033189,-0.002530,0.045967
Is_M_employed,0.037021,0.017884,0.017520,-0.150201,0.082791,0.054164,0.100623,0.116408,-0.014923,-0.000854,...,1.000000,0.635952,-0.348813,-0.134794,0.077074,-0.134794,0.038912,0.095778,0.114871,-0.063822
Are_Both_Parents_Employed,0.023274,0.008121,0.007836,-0.038570,0.077748,-0.032513,0.051610,-0.159116,-0.073777,-0.012445,...,0.635952,1.000000,-0.766046,-0.089535,0.062345,-0.089535,0.068026,0.019603,0.082971,-0.040588
Is_Only_One_Parent_Employed,-0.016370,-0.018015,-0.018036,-0.137214,-0.023331,0.070545,0.069649,0.159116,0.106903,0.003181,...,-0.348813,-0.766046,1.000000,-0.104070,0.059850,-0.104070,0.044848,0.094118,-0.036451,0.052983
Is_Poor,0.440136,0.510147,0.511179,0.544498,0.562621,0.045033,-0.765859,-0.729810,0.186541,-0.577079,...,-0.134794,-0.089535,-0.104070,1.000000,-0.675669,1.000000,-0.575669,-0.602689,-0.211779,-0.085509
percent_of_cutoff,-0.541899,-0.591456,-0.592067,-0.501598,-0.570801,-0.160215,0.934405,0.730742,-0.112344,0.349494,...,0.077074,0.062345,0.059850,-0.675669,1.000000,-0.675669,0.105171,0.448501,0.547604,0.439517
Class_Poor,0.440136,0.510147,0.511179,0.544498,0.562621,0.045033,-0.765859,-0.729810,0.186541,-0.577079,...,-0.134794,-0.089535,-0.104070,1.000000,-0.675669,1.000000,-0.575669,-0.602689,-0.211779,-0.085509
Class_Lower,-0.289533,-0.323865,-0.324332,-0.253348,-0.385492,-0.035475,0.121163,0.171898,-0.071645,0.305375,...,0.038912,0.068026,0.044848,-0.575669,0.105171,-0.575669,1.000000,-0.207206,-0.072810,-0.029398
Class_Lower_Middle,-0.186924,-0.232554,-0.233278,-0.293157,-0.241348,-0.009618,0.550683,0.793550,-0.156750,0.370038,...,0.095778,0.019603,0.094118,-0.602689,0.448501,-0.602689,-0.207206,1.000000,-0.076228,-0.030778
Class_Middle_Middle,-0.168853,-0.179261,-0.179361,-0.155655,NaN,-0.014385,0.565886,NaN,0.000304,0.130028,...,0.114871,0.082971,-0.036451,-0.211779,0.547604,-0.211779,-0.072810,-0.076228,1.000000,-0.010815
Class_Upper_Middle,-0.105998,-0.136417,-0.136909,-0.198508,NaN,-0.045779,0.373798,NaN,-0.056299,0.052501,...,-0.063822,-0.040588,0.052983,-0.085509,0.439517,-0.085509,-0.029398,-0.030778,-0.010815,1.000000

## EDA

## Train Test Split

In [179]:
from sklearn.model_selection import train_test_split

In [180]:
new = df.loc[:, ['Status', 'Is_Education', 'Is_UPD', 'Annual_Family_Income', 'Average_Grade_in_HS', 'HS_Avg_Grade_imputed_based_on_demographic_loc', 'HS_Private', 'College_Within_Municipality/City', 'Are_Both_Parents_Employed', 'Is_Poor']].dropna()

In [181]:
new.head()

,Status,Is_Education,Is_UPD,Annual_Family_Income,Average_Grade_in_HS,HS_Avg_Grade_imputed_based_on_demographic_loc,HS_Private,College_Within_Municipality/City,Are_Both_Parents_Employed,Is_Poor
3,Disqualified,1,1,320278.0,86.50,86.50,0,1,0,0
4,Graduated,1,1,460000.0,88.77,88.77,1,0,1,0
5,Graduated,1,1,198000.0,90.00,90.00,1,1,0,0
6,Graduated,1,1,381953.0,96.33,96.33,1,1,1,0
7,Graduated,1,1,361524.0,90.13,90.13,0,0,0,0

In [182]:
X = new.drop('Status', axis='columns')
y = new.Status

In [183]:
X.shape

(200, 9)

In [184]:
y.shape

(200,)

In [185]:
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.30, random_state=42)

In [186]:
from sklearn import model_selection
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import cross_val_score

In [187]:
from sklearn.preprocessing import OneHotEncoder
from sklearn.compose import make_column_transformer
from sklearn.pipeline import make_pipeline

In [188]:
column_trans = make_column_transformer(
    (OneHotEncoder(handle_unknown='ignore'), ['Is_Education', 'Is_UPD', 'HS_Private', 'College_Within_Municipality/City', 'Are_Both_Parents_Employed', 'Is_Poor']),
    remainder='passthrough')
logreg = LogisticRegression(solver='lbfgs')
pipe = make_pipeline(column_trans, logreg)

In [189]:
cross_val_score(pipe, X_train, y_train, cv=5, scoring='accuracy').mean()

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.45

In [190]:
pipe.fit(X_train, y_train)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Is_Education', 'Is_UPD',
                                                   'HS_Private',
                                                   'College_Within_Municipality/City',
                                                   'Are_Both_Parents_Employed',
                                                   'Is_Poor'])])),
                ('logisticregression', LogisticRegression())])

In [191]:
y_pred = pipe.predict(X_test)

In [192]:
from sklearn.metrics import accuracy_score
accuracy_score(y_test, y_pred)

0.45

In [193]:
logreg.coef_.shape

(6, 15)

In [194]:
print(logreg.coef_)

[[ 6.92477225e-05 -4.74933158e-05 -2.11876213e-04  2.33630620e-04
   1.44200319e-04 -1.22445912e-04  9.59438825e-05 -7.41894757e-05
   1.36825917e-04 -1.15071510e-04  1.01274170e-04 -7.95197636e-05
   1.31795054e-05  1.38228334e-03  1.38228334e-03]
 [-2.30246247e-04  2.90975241e-04  3.66327166e-04 -3.05598173e-04
  -3.16715275e-05  9.24005211e-05 -3.11470185e-04  3.72199179e-04
   9.28964538e-05 -3.21674601e-05 -2.28986562e-04  2.89715555e-04
   1.43817991e-05  2.77271289e-03  2.77271289e-03]
 [ 1.21910700e-04 -5.45526142e-05  5.83303955e-05  9.02769034e-06
  -1.38701470e-05  8.12282328e-05  3.48341110e-04 -2.80983024e-04
  -1.01822521e-04  1.69180607e-04  1.32136732e-04 -6.47786462e-05
   4.31324128e-06  9.59285172e-03  9.59285172e-03]
 [-2.33942585e-05 -2.29770280e-05 -9.81641099e-05  5.17928234e-05
  -8.93668640e-06 -3.74346001e-05 -5.42840795e-05  7.91279300e-06
  -5.19119856e-05  5.54069918e-06 -1.17054100e-06 -4.52007455e-05
  -4.94454713e-06 -4.25252478e-03 -4.25252478e-03]
 [-1.44496178e-05 -4.68652646e-06  5.60471935e-06 -2.47408636e-05
  -7.52750983e-07 -1.83833933e-05 -5.05472069e-05  3.14110626e-05
  -4.63717270e-05  2.72355827e-05 -3.93264450e-08 -1.90968178e-05
  -3.10253924e-05 -1.78641199e-03 -1.78641199e-03]
 [ 7.69317010e-05 -1.61265757e-04 -1.20221958e-04  3.58879024e-05
  -8.89692070e-05  4.63515149e-06 -2.79835207e-05 -5.63505348e-05
  -2.96161365e-05 -5.47179190e-05 -3.21447319e-06 -8.11195823e-05
   4.09539381e-06 -7.70891119e-03 -7.70891119e-03]]

In [195]:
# basic cross validated model
y.value_counts(normalize=True)

Graduated           0.380
In Good Standing    0.375
Disqualified        0.220
On Hold             0.010
On Probation        0.010
On LOA              0.005
Name: Status, dtype: float64

## OneHotEncoder

In [196]:
# dummy encoding of categorical features
from sklearn.preprocessing import OneHotEncoder
ohe = OneHotEncoder(sparse=False)

In [197]:
ohe.fit_transform(df[['Status']])

array([[0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       [0., 1., 0., 0., 0., 0.],
       ...,
       [0., 0., 1., 0., 0., 0.],
       [0., 0., 0., 0., 0., 1.],
       [0., 0., 0., 0., 0., 1.]])

In [198]:
ohe.categories_

[array(['Disqualified', 'Graduated', 'In Good Standing', 'On Hold',
        'On LOA', 'On Probation'], dtype=object)]

In [199]:
column_trans.fit_transform(X)

array([[0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 3.20278e+05,
        8.65000e+01, 8.65000e+01],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 4.60000e+05,
        8.87700e+01, 8.87700e+01],
       [0.00000e+00, 1.00000e+00, 0.00000e+00, ..., 1.98000e+05,
        9.00000e+01, 9.00000e+01],
       ...,
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 3.60000e+05,
        9.55000e+01, 9.55000e+01],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 9.60000e+04,
        9.35900e+01, 9.35900e+01],
       [1.00000e+00, 0.00000e+00, 0.00000e+00, ..., 8.00000e+04,
        9.55000e+01, 9.55000e+01]])

In [200]:
pipe = make_pipeline(column_trans, logreg)

In [201]:
cross_val_score(pipe, X, y, cv=5, scoring='accuracy').mean()

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(
/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

0.39499999999999996

## Predictions

In [202]:
X_new = X.sample(5, random_state=99)
X_new

,Is_Education,Is_UPD,Annual_Family_Income,Average_Grade_in_HS,HS_Avg_Grade_imputed_based_on_demographic_loc,HS_Private,College_Within_Municipality/City,Are_Both_Parents_Employed,Is_Poor
162,1,1,275596.0,96.0,96.0,1,0,1,0
154,1,0,50000.0,94.0,94.0,0,0,0,1
221,1,1,68400.0,96.5,96.5,1,0,0,1
79,1,1,183382.0,93.0,93.0,0,0,0,0
146,1,0,91200.0,93.0,93.0,0,1,0,1

In [203]:
pipe.fit(X,y)

/usr/local/lib/python3.8/dist-packages/sklearn/linear_model/_logistic.py:814: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Pipeline(steps=[('columntransformer',
                 ColumnTransformer(remainder='passthrough',
                                   transformers=[('onehotencoder',
                                                  OneHotEncoder(handle_unknown='ignore'),
                                                  ['Is_Education', 'Is_UPD',
                                                   'HS_Private',
                                                   'College_Within_Municipality/City',
                                                   'Are_Both_Parents_Employed',
                                                   'Is_Poor'])])),
                ('logisticregression', LogisticRegression())])

In [204]:
pipe.predict(X_new)

array(['Graduated', 'In Good Standing', 'In Good Standing', 'Graduated',
       'In Good Standing'], dtype=object)

In [205]:
from sklearn.tree import DecisionTreeClassifier
dtree = DecisionTreeClassifier(criterion='entropy',
                                max_depth=5,
                                random_state=1)

In [206]:
dtreepipe = make_pipeline(column_trans, dtree)

In [207]:
cross_val_score(dtreepipe, X_train, y_train, cv=5, scoring='accuracy').mean()

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

0.37142857142857144

## Neural Network

In [208]:
from sklearn.neural_network import MLPClassifier
clf = MLPClassifier(max_iter=1000, solver='adam', alpha=1e-5, hidden_layer_sizes=(10, 10, 5), random_state=1)
clfpipe = make_pipeline(column_trans, clf)
cross_val_score(clfpipe, X_train, y_train, cv=5, scoring='accuracy').mean()

/usr/local/lib/python3.8/dist-packages/sklearn/model_selection/_split.py:676: UserWarning: The least populated class in y has only 1 members, which is less than n_splits=5.
  warnings.warn(

0.3

Accuracy was less than 0.5. Parameters chosen were not good indicators.